html, body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: black;
  overflow: hidden;
  font-family:'Gill Sans', 'Gill Sans MT', sans-serif;
}

scene {
  width: 1280px;
  height: 720px;
  display: inline-block;
  position: absolute;
}

canvas {
  width: 100%;
  height: 100%;
}

/* speech bar */
speech {
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: beige;
  background-color: rgba(11, 14, 19, 0.9);
  width: 100%;
  height: 10%;
}

/* modifications for Ryu only */
speech.Ryu name {
  font-size: 14pt;
  display: block;
  color: rgb(98, 113, 161);
  margin-bottom: 10px;
} 

speech.Ryu content {
  color: rgb(203, 253, 255);
}

#Char1{
  width: 25%;
  height: 100%;
  margin: 0px;
  padding: 0px;  
  transition-duration: 1s;
  opacity: 0.6;
  background: transparent;
  background-image: url(Images/Buttons/ArcherButton.png);
  background-size:cover;

}
#Char1:hover{
  opacity: 1;
}
#Char2{
  width: 25%;
  height: 100%;
  margin: 0px;
  padding: 0px;  
  transition-duration: 1s;
  opacity: 0.6;
  background: transparent;
  background-image: url(Images/Buttons/NightstalkerButton.png);
  background-size: cover;
}
#Char2:hover{
  opacity: 1;
}
#Char3{
  width: 25%;
  height: 100%;
  margin: 0px;
  padding: 0px;  
  transition-duration: 1s;
  opacity: 0.6;
  background: transparent;
  background-image: url(/Images/Buttons/ArchMageButton.png);
  background-size: cover;
  
}
#Char3:hover{
  opacity: 1;
}
#Char4{
  width: 25%;
  height: 100%;
  margin: 0px;
  padding: 0px;  
  transition-duration: 1s;
  opacity: 0.6;
  background: transparent;
  background-image: url(../Images/Buttons/SwordWhielderButton.png);
  background-size: cover;
}
#Char4:hover{
  opacity: 1;
}
#skill1{
  position: relative;
  width: 33%;
  height: 20%;
  margin-top: 255;

 
  
}
#skill2{
  width: 33%;
  height: 20%;
  margin: 25;
  padding: 10px;  

}

#skill3{
  width: 33%;
  height: 20%;
  margin: 25;
  padding: 10px;  

}
#sayYes{
  position: relative;
  width: 50%;
  height: 20%;
  margin-top: 255;
  
 
  
}
#sayNo{
  width: 50%;
  height: 20%;
  margin: 25;
  padding: 10px;  
  
}



/*
button{
  width: 22.2%;
  height: 100%;
  margin: 0px;
  padding: 0px;  
  transition-duration: 1s;
  opacity: 0.6;
}
button:hover{
  opacity: 0;
  
}
*/
dialog.dialog2{
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-color: transparent;
}
dialog.dialog1{
  width: 60%;
  height: 50%;
  background-color: transparent;
  border: none;
}
dialog[type="inventory"]{
  background-color: transparent;
  background-image: url(./Images/inventory_bag.png);
  background-size:cover;
  color: white;
  width: 500px;
  height: 636px;
  border: none;
  
  
}
dialog[type="inventory"] > ul{
  list-style-type: none;
margin-top: 50%;
border: none;
}
dialog[type="inventory"] > ul > li{
background-size: cover;
position: relative;
width: 150px;
height: 150px;
padding: 0px;
border: none;
margin-top: 5%;
display: block;

}
dialog[type="inventory"] name{
display: block;
list-style: none;
content: '/a';
color: gold;


}

  dialog[type="inventory"] description{
    display: block;
    list-style: none;
    content: '/a';
    
    
    }
dialog[type="inventory"] img{
  float: left;
  position: relative;
}
dialog[type="name"]{
  float: left;
  position: relative;
}
button.close{
  border-radius: 10px;
  background-color:transparent;
  transition-duration: 1s;
  
}
button.close:hover{
  background-color: red;
}
button[type="buttoninv"]{
  position: absolute;
  right: 5%;
}
meter::-webkit-meter-optimum-value{
  background-color: red;
}
input{

  width: 100%;
  
}