html, body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: black;
  overflow: hidden;
  font-family:'Gill Sans', 'Gill Sans MT', sans-serif;
}

scene {
  width: 1280px;
  height: 720px;
  display: inline-block;
  position: absolute;
}

canvas {
  width: 100%;
  height: 100%;
}

/* speech bar */
speech {
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: beige;
  background-color: rgba(11, 14, 19, 0.9);
  width: 100%;
  height: 10%;
}

/* modifications for Ryu only */
speech.Ryu name {
  font-size: 14pt;
  display: block;
  color: rgb(98, 113, 161);
  margin-bottom: 10px;
} 

speech.Ryu content {
  color: rgb(203, 253, 255);
}

#Char1{
  width: 25%;
  height: 100%;
  margin: 0px;
  padding: 0px;  
  transition-duration: 1s;
  opacity: 0.6;
  background: transparent;
  background-image: url(Images/Buttons/ArcherButton.png);
  background-size:cover;

}
#Char1:hover{
  opacity: 1;
}
#Char2{
  width: 25%;
  height: 100%;
  margin: 0px;
  padding: 0px;  
  transition-duration: 1s;
  opacity: 0.6;
  background: transparent;
  background-image: url(Images/Buttons/NightstalkerButton.png);
  background-size: cover;
}
#Char2:hover{
  opacity: 1;
}
#Char3{
  width: 25%;
  height: 100%;
  margin: 0px;
  padding: 0px;  
  transition-duration: 1s;
  opacity: 0.6;
  background: transparent;
  background-image: url(Images/Buttons/ArchMageButton.png);
  background-size: cover;
  
}
#Char3:hover{
  opacity: 1;
}
#Char4{
  width: 25%;
  height: 100%;
  margin: 0px;
  padding: 0px;  
  transition-duration: 1s;
  opacity: 0.6;
  background: transparent;
  background-image: url(Images/Buttons/SwordWhielderButton.png);
  background-size: cover;
}
#Char4:hover{
  opacity: 1;
}
#Throwdice{
  color: red;
  font-size: 5vh;
  width: 20vh;
  height: 20vh;
  margin-left: 37%;
  margin-top: 15%;
  transition-duration: 1s;
  opacity: 0.8;
  border-radius:   2vh;
  background-image: url(Images/2.png);
  background-size:contain;
  background-repeat: no-repeat;
}
#Throwdice:hover{
  opacity: 1;
  background-image: url(Images/5.png);
  background-size: contain;
  background-repeat: no-repeat;
}
#Throwdice2{
  color: red;
  font-size: 5vh;
  width: 20vh;
  height: 20vh;
  margin-left: 37%;
  margin-top: 15%;
  transition-duration: 1s;
  opacity: 0.8;
  border-radius:   2vh;
  background-image: url(Images/2.png);
  background-size:contain;
  background-repeat: no-repeat;
}
#Throwdice2:hover{
  opacity: 1;
  background-image: url(Images/5.png);
  background-size: contain;
  background-repeat: no-repeat;
}
#skill1{
  position: relative;
  width: 33%;
  height: 20%;
  margin-top: 255;

 
  
}
#skill2{
  width: 33%;
  height: 20%;
  margin: 25;
  padding: 10px;  

}

#skill3{
  width: 33%;
  height: 20%;
  margin: 25;
  padding: 10px;  

}

dialog.dialog4{
  width: 100%;
  height: 100%;
  background-image: url(Images/normal.png); 
  background-size: contain;
  background-repeat: no-repeat;
}
dialog.dialog3{
  width: 100%;
  height: 100%;
  background-image: url(Images/incave.png); 
  background-size: contain;
  background-repeat: no-repeat;
}





#e1{
  width: 100%;
  height: 100%;
  background: transparent;
}
#e2{
  width: 100%;
  height: 100%;
  background: transparent;
}
canvas{
  background-size: cover;
}
#sayYes{
  position: relative;
  width: 50%;
  height: 20%;
  margin-top: 255;
  
 
  
}
#sayNo{
  width: 50%;
  height: 20%;
  margin: 25;
  padding: 10px;  
  
}



/*
button{
  width: 22.2%;
  height: 100%;
  margin: 0px;
  padding: 0px;  
  transition-duration: 1s;
  opacity: 0.6;
}
button:hover{
  opacity: 0;
  
}
*/
dialog.dialog2{
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-color: transparent;
}
dialog.dialog1{
  width: 60%;
  height: 50%;
  background-color: transparent;
  border: none
}
dialog[type="inventory"]{
  background-color: transparent;
  background-image: url(Images/inventory_bag.png);
  background-size:cover;
  color: white;
  width: 500px;
  height: 636px;
  border: none;
  
  
}
dialog[type="inventory"] > ul{
  margin-left: 10%;
  margin-top: 50%;
  
  border: none;
  width: 100%;
  
  
  
}
dialog[type="inventory"] > ul > li{
  
  
  width: 200px;
  height: 150px;
  border: none;
  margin-top: 1%;
  
  

  

}

dialog[type="inventory"] name{
  
  list-style: none;
  
  color: gold;


}


  dialog[type="inventory"] description{
    display: block;
    list-style: none;
    content: '/a';
    
    
    }
dialog[type="inventory"] img{
  position: absolute;
  float: left;
  
}
dialog[type="name"]{
  float: left;
  position: relative;
}
button.close{
  border-radius: 10px;
  background-color:transparent;
  transition-duration: 1s;
  
}
button.close:hover{
  background-color: red;
}
button[type="buttoninv"]{
  position: absolute;
  right: 5%;
}

input{

  width: 20%;
  
  
}
meter::-webkit-meter-bar {
  background-color: #ececec;
}


meter[id="side1"] {
  padding: 0px;
}

input[name="scoreside1"] {
  width: 5vw;
}

meter[id="side1"]::-webkit-meter-optimum-value {
  background-color: #719fd1;
  
}
meter[id="side2"] {
  padding: 0px;
  
}

input[name="scoreside2"] {
  width: 5vw;
}

meter[id="side2"]::-webkit-meter-optimum-value {
  background-color: #719fd1;
  
}
meter[id="side3"] {
  padding: 0px;
  
}

input[name="scoreside3"] {
  width: 5vw;
}

meter[id="side3"]::-webkit-meter-optimum-value {
  background-color: #719fd1;
  
}
dialog.flip {
  background: transparent;
  width: 100%;
  height: 80%;
  padding-top: 20%;
  padding-left: 20%;
  padding-bottom: 20%;
  
  
}

dialog.contract {
  color: black;

}


dialog.flip>button {
  cursor: pointer;
  margin-top: 50em;
}

dialog.text {
  color: rgb(255, 255, 255);
  font-size: 2vh;
  font-weight: bold;
  width: 20vw;
  height: 20vh;
  font-family: 'Century Gothic';
  
}